--
-- PostgreSQL database dump
--

\restrict 8o5gInowqP4nVXUlepLKdG94kg48tedhhsKP8U7CBu16IX5zUUakJDGKhMarbER

-- Dumped from database version 18.1
-- Dumped by pg_dump version 18.1

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: education; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.education (
    educationid integer NOT NULL,
    userid integer,
    degree character varying(100),
    institution character varying(100),
    year integer,
    percentage character varying(10),
    resumeid integer,
    start_year character varying(10),
    end_year character varying(10)
);


ALTER TABLE public.education OWNER TO postgres;

--
-- Name: education_educationid_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.education_educationid_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.education_educationid_seq OWNER TO postgres;

--
-- Name: education_educationid_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.education_educationid_seq OWNED BY public.education.educationid;


--
-- Name: projects; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.projects (
    projectid integer NOT NULL,
    userid integer,
    projectname character varying(100),
    description text,
    duration character varying(50),
    resumeid integer
);


ALTER TABLE public.projects OWNER TO postgres;

--
-- Name: projects_projectid_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.projects_projectid_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.projects_projectid_seq OWNER TO postgres;

--
-- Name: projects_projectid_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.projects_projectid_seq OWNED BY public.projects.projectid;


--
-- Name: resume; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.resume (
    resumeid integer NOT NULL,
    userid integer,
    title character varying(100),
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    name character varying(255),
    email character varying(255),
    phone character varying(50),
    summary text
);


ALTER TABLE public.resume OWNER TO postgres;

--
-- Name: resume_resumeid_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.resume_resumeid_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.resume_resumeid_seq OWNER TO postgres;

--
-- Name: resume_resumeid_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.resume_resumeid_seq OWNED BY public.resume.resumeid;


--
-- Name: skills; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.skills (
    skillid integer NOT NULL,
    userid integer,
    skillname character varying(100),
    level character varying(50),
    resumeid integer
);


ALTER TABLE public.skills OWNER TO postgres;

--
-- Name: skills_skillid_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.skills_skillid_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.skills_skillid_seq OWNER TO postgres;

--
-- Name: skills_skillid_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.skills_skillid_seq OWNED BY public.skills.skillid;


--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    userid integer NOT NULL,
    name character varying(100),
    email character varying(100),
    password character varying(100),
    contact character varying(15),
    address text
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: users_userid_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.users_userid_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.users_userid_seq OWNER TO postgres;

--
-- Name: users_userid_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.users_userid_seq OWNED BY public.users.userid;


--
-- Name: education educationid; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.education ALTER COLUMN educationid SET DEFAULT nextval('public.education_educationid_seq'::regclass);


--
-- Name: projects projectid; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.projects ALTER COLUMN projectid SET DEFAULT nextval('public.projects_projectid_seq'::regclass);


--
-- Name: resume resumeid; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.resume ALTER COLUMN resumeid SET DEFAULT nextval('public.resume_resumeid_seq'::regclass);


--
-- Name: skills skillid; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.skills ALTER COLUMN skillid SET DEFAULT nextval('public.skills_skillid_seq'::regclass);


--
-- Name: users userid; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users ALTER COLUMN userid SET DEFAULT nextval('public.users_userid_seq'::regclass);


--
-- Data for Name: education; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.education (educationid, userid, degree, institution, year, percentage, resumeid, start_year, end_year) FROM stdin;
1	1	ddf	dfbv	\N	\N	\N	\N	\N
2	1	dda	asdfads	\N	\N	\N	\N	\N
3	1	bsc	poona college	\N	\N	1	\N	\N
4	1	msc	gr	\N	\N	2	\N	\N
5	1	fg	gdf	\N	\N	3	\N	\N
10	1	bsc	poona	\N	\N	8	2023	2027
11	2	bsc	ponna	\N	\N	9	2024	2027
\.


--
-- Data for Name: projects; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.projects (projectid, userid, projectname, description, duration, resumeid) FROM stdin;
1	1	vx	\N	\N	\N
2	1	safasfa	\N	\N	\N
3	1	hacking a[p	\N	\N	1
4	1	bsf	\N	\N	2
5	1	fdg	\N	\N	3
9	1	kbsdakvsd	\N	\N	8
10	2	nothing	\N	\N	9
\.


--
-- Data for Name: resume; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.resume (resumeid, userid, title, created_at, name, email, phone, summary) FROM stdin;
1	1	My Resume	2026-03-31 00:05:13.870042	\N	\N	\N	\N
2	1	My Resume	2026-03-31 00:07:40.59121	\N	\N	\N	\N
3	1	My Resume	2026-03-31 00:31:01.508439	\N	\N	\N	\N
8	1	My Resume	2026-03-31 13:04:33.415987	zishan shaikh	shahidfun101@gmail.com	8010125310	hw is a good boy 
9	2	My Resume	2026-03-31 13:26:00.635444	aliza mulla	alizamulla123@gmail.com	0987654321	hello
\.


--
-- Data for Name: skills; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.skills (skillid, userid, skillname, level, resumeid) FROM stdin;
1	1	bxv	\N	\N
2	1	csdaf	\N	\N
3	1	python	\N	1
4	1	bsf	\N	2
5	1	fg	\N	3
9	1	kdvnsdjn	\N	8
10	2	python	\N	9
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.users (userid, name, email, password, contact, address) FROM stdin;
1	shahid ali khan	shahid10101khan@gmail.com	011983	\N	\N
2	aliza mulla	alizamulla123@gmail.com	0101	\N	\N
\.


--
-- Name: education_educationid_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.education_educationid_seq', 11, true);


--
-- Name: projects_projectid_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.projects_projectid_seq', 10, true);


--
-- Name: resume_resumeid_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.resume_resumeid_seq', 9, true);


--
-- Name: skills_skillid_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.skills_skillid_seq', 10, true);


--
-- Name: users_userid_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.users_userid_seq', 2, true);


--
-- Name: education education_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.education
    ADD CONSTRAINT education_pkey PRIMARY KEY (educationid);


--
-- Name: projects projects_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.projects
    ADD CONSTRAINT projects_pkey PRIMARY KEY (projectid);


--
-- Name: resume resume_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.resume
    ADD CONSTRAINT resume_pkey PRIMARY KEY (resumeid);


--
-- Name: skills skills_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.skills
    ADD CONSTRAINT skills_pkey PRIMARY KEY (skillid);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (userid);


--
-- Name: education education_userid_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.education
    ADD CONSTRAINT education_userid_fkey FOREIGN KEY (userid) REFERENCES public.users(userid);


--
-- Name: education fk_edu_resume; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.education
    ADD CONSTRAINT fk_edu_resume FOREIGN KEY (resumeid) REFERENCES public.resume(resumeid);


--
-- Name: projects fk_proj_resume; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.projects
    ADD CONSTRAINT fk_proj_resume FOREIGN KEY (resumeid) REFERENCES public.resume(resumeid);


--
-- Name: skills fk_skill_resume; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.skills
    ADD CONSTRAINT fk_skill_resume FOREIGN KEY (resumeid) REFERENCES public.resume(resumeid);


--
-- Name: projects projects_userid_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.projects
    ADD CONSTRAINT projects_userid_fkey FOREIGN KEY (userid) REFERENCES public.users(userid);


--
-- Name: resume resume_userid_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.resume
    ADD CONSTRAINT resume_userid_fkey FOREIGN KEY (userid) REFERENCES public.users(userid);


--
-- Name: skills skills_userid_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.skills
    ADD CONSTRAINT skills_userid_fkey FOREIGN KEY (userid) REFERENCES public.users(userid);


--
-- PostgreSQL database dump complete
--

\unrestrict 8o5gInowqP4nVXUlepLKdG94kg48tedhhsKP8U7CBu16IX5zUUakJDGKhMarbER

